:root {
  --blue: #2196f3;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --mycolor: #d746da;
  --pink: #e83e8c;
  --red: #e51c23;
  --orange: #fd7e14;
  --yellow: #ff9800;
  --green: #4caf50;
  --teal: #20c997;
  --cyan: #9c27b0;
  --white: #fff;
  --gray: #666;
  --gray-dark: #222;
  --primary: #2196f3;
  --secondary: #fff;
  --success: #4caf50;
  --info: #9c27b0;
  --warning: #ff9800;
  --danger: #e51c23;
  --light: #fff;
  --dark: #222;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: Roboto,-apple-system,BlinkMacSystemFont,"Segoe UI","Helvetica Neue",Arial,sans-serif;
  --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}

