.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
  color: #64748B;
  background: rgb(224,234,246);
  box-shadow: inset 3px 3px 6px rgba(0, 0, 0, 0.15);
  border-radius: 6px 6px 0px 0px;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: #64748B;
}

.navbar-light .navbar-nav .nav-link {
  color: #64748B;
}

.nav-item {
  /*margin-right: 0.5em;*/
}

.navbar {
  border: 0;
  border-radius: 0;
  padding: 0;
  margin-bottom: 0px;
  height: auto !important;
  color: #555;
  background-color: rgba(255,255,255,0) !important;
  box-shadow: 0 4px 18px 0px rgba(0,0,0,0), 0 7px 10px -5px rgba(0,0,0,0);
}

.navbar .collapse .navbar-nav .nav-item .nav-link {
  position: relative;
  padding: 10px 12px;
  font-weight: 400;
  font-size: 0.8em;
  text-transform: none;
  border-radius: 4px 4px 0px 0px;
  line-height: 20px;
  margin-left: 0;
  color: inherit;
}

.navbar .collapse .navbar-nav .nav-item .nav-link {
  border-right: 0.5px solid #e0eaf6;
}

.dropdown-menu .dropdown-item:hover, .dropdown-menu .dropdown-item:focus, .dropdown-menu a:hover, .dropdown-menu a:focus, .dropdown-menu a:active {
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(156, 39, 176, 0.4);
  background-color: #9c27b0;
  color: #FFFFFF;
}

.form-control, .is-focused .form-control {
  background-image: linear-gradient(to top, #2989cf 2px, rgba(156, 39, 176, 0) 2px), linear-gradient(to top, #d2d2d2 1px, rgba(210, 210, 210, 0) 1px);
}

.nav-tabs {
  border: 0;
  border-radius: 0px;
  padding: 0 15px;
}

.nav-tabs .nav-item .nav-link {
  position: relative;
  color: #fff;
  border: 0;
  margin: 0;
  border-radius: 3px;
  line-height: 24px;
  text-transform: none;
  font-size: 12px;
  padding: 10px 15px;
  background-color: transparent;
  transition: 0.3s background-color 0s;
}

.table thead tr th {
  font-size: 0.8rem;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  font-size: 0.8rem;
}

